---
import videos from "../../data/videos.json"
import Layout from '../../layouts/Layout.astro';


export function getStaticPaths() {
    return videos.map((video) => ({
        params: { video: video.key }
    }));
}

const { video } = Astro.params;

const videoName = videos.find((v) => v.key === video)?.name || "some video";
const videoUrl = `https://utfs.io/f/${video}`
---

<Layout title={videoName} videoName={videoName} videoKey={video} videoUrl={videoUrl}>
    <h1 class="text-center text-2xl font-light my-2">{videoName}</h1>
    <div class="video-container">
        <video controls playsinline src={videoUrl} muted>
            <source src={videoUrl} type="video/mp4" />
        </video> 
    </div>
</Layout>
<style>
    .video-container {
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        video {
            max-height: 80vh;
            height: auto;
            aspect-ratio: 16 / 9;
        }
    }
</style>